[user]
	name = "Jesse Donat"
	email = "donatj@gmail.com"

[core]
	autocrlf = input
	excludesfile = ~/.gitignore_global

[push]
	default = upstream

[pull]
	rebase = false

[difftool]
	prompt = false

[color]
	ui = true

[gc]
	auto = 0

[alias]
	dp = diff --patience
	cp = cherry-pick
	cb = checkout -b
	co = "!f(){ git fetch origin; git checkout origin/$1; }; f"
	cr = "!f(){ git fetch origin; git checkout -B review/$1 origin/$1; }; f"
	rr = "!f(){ git reset --hard $(git rev-parse --abbrev-ref --symbolic-full-name '@{u}'); }; f"
	cplog = log --oneline --reverse
	exclude = "!f(){ echo $1 >> $(git rev-parse --git-dir)/info/exclude; }; f"
	personal = config user.email \"donatj@gmail.com\"
	mrb = "!f(){ git for-each-ref --sort=-committerdate refs/heads/ | egrep -v 'refs/heads/(review/|release/|dev$)' | head -15 | awk '{print substr($1,0,10) \" \" substr($3,12)}'; };f"
	restash = rebase --autostash
	whoami = "!f(){ git config user.name; git config user.email; }; f"

[advice]
	detachedHead = false

[init]
	defaultBranch = dev
